@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grayscale-00: 255 255 255;
    --grayscale-20: 232 232 232;
    --grayscale-40: 199 200 205;
    --grayscale-60: 122 122 122;
    --grayscale-80: 31 31 31;
    --grayscale-100: 0 0 0;
    --primary-light: 184 255 240;
    --primary: 15 205 180;
    --primary-dark: 5 60 94;
    --secondary: 254 215 102;
    --destructive: var(--red-9);
    --destructive-foreground: var(--red-12);
  }
  html {
    letter-spacing: -0.04em;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
